
:root {
  --gray:  #888888;
  --blue: #81B3D2;
  --bluer: #669EC0;;
  --deep-blue: #5496BD;
  --black:  #000000;
  --light-black: #333333;
  --brown: #766357;
  --light-gray: #EEEEEE;
  --white: #FFFFFF;
  --browner: #604E43;
  --dark-brown:#503E33;

}
body {
  width: 1280px;
  height: 2762px;
  min-width: 960px;
  margin: 0;
  padding: 0;
  background: var(--white);
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  background-position: top center;
}
.page {
  height: 100%;
}
.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
h2 {
  font-size: 21px;
  line-height: 26px;
}
p {
  font-weight: 400;
  color: var(--light-black);
}
.main-nav {
  display: grid;
  width: 1200px;
  height: 70px;
  margin: 0 auto;
}
.main-header-logo {
  order: 1;
  justify-self: center;
  z-index: 1;
 /* здесь логотип скрылся за бэкгроунд фото, не знаю как его поднять ,
 вытащила черезз z-index но как поднять и сделать нормальную шапку сверху - не понимаю */
}

.main-header {
  margin-bottom: 70px;
  height: 56px;

}
.main-nav-wrapper {
  display: grid;
  grid-template-columns: 1fr min-content;
  width: 1200px;
  height: 70px;
  margin: 0 auto;
  padding: 0 10px;
}
.site-nav a {
  color: var(--black);
  text-decoration: none;
  line-height: 26px;
  font-size: 14px;
  text-align: center;
}
.site-nav a:link {
  color: var(--black);;
}
.site-nav a:visited {
  color: var(--black);
}
.site-nav a:hover {
  color: var(--blue);
}
.site-nav a:active {
  color: var(--black);
  opacity: 0.3;
}
.features {
  text-align: center;
}
.feature-item-2 {
  text-align: center;
}
.logo-img {
  background-image:url("../img/background-photo.jpg");
  background-repeat: no-repeat;
  width: 1200px;
  height: 509px;
}
.logo {
  margin-left:371px ;
  margin-right: 371px;
  margin-bottom: 80px;
  margin-top: 77px;
}
.feature-item-2 h3,
.feature-item h3{
  font-size: 21px;
  line-height: 21px;
}
.item-img {
  display: grid;
  grid-template-columns: 1fr 2fr;

  column-gap: 0; /* почему это св-во не работает, как схлопнуть вместе этот див и картинку? */
}
.img-item {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.features-list-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 20px;
  padding: 0;
}

.list-item {
  background-color: var(--blue);
  color: var(--white);
  width: 400px;
  height: 256px;
  text-align: center;
}
.list-item p {
  color: var(--white);
}
.footer-p {
  font-weight: bold;
  color: var(--black);
  font-size: 21px;
  line-height: 26px;
}
.footer-phone {
  color: inherit;
}
.gray-bckgr-list {
  background-color: var(--light-gray);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.appointment h3 {
  font-size: 30px;
  line-height: 24px;
}
.appointment {
  text-align: center;
}
.container {
  width: 1200px;
  height: 120px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.9);
}
/* inner page */

.filter {
  background-image:url("../img/background-inner-page.jpg") ;
  width: 1200px;
  height: 217px;
}
.filter-header {
  color: var(--white);
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}
.filter-items {
  color: var(--white);
  font-weight: 400;
}
.found {
  font-size: 21px;
}
.sort {
  font-size: 12px;
  font-weight: normal;
}
.sorting-links a:link {
  text-decoration: none;
  color: var(--light-gray);
}
.sorting-links a:visited {
  color: var(--black);
  opacity: 0.3;
}
.sorting-links a:hover {
  color:var(--blue);
  text-decoration: none;
}
.sorting-links a:active {
  color:var(--black);
  text-decoration: none;
}
.button {
  color: var(--white);
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}
.more-info {
  background-color: var(--blue);
  width: 110px;
  height: 27px;
  padding: 3px 16px 3px 17px;
  margin-right: 6px;
}
.book {
  background-color: var(--brown);
  width: 142px;
  height: 27px;
  padding: 3px 16px 3px 17px;
}
.show {
  position: absolute;
  width: 137px;
  height: 36px;
  left: 584px;
  top: 222px;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: transparent;
}
 button:hover {
  background-color: var(--white);
  color:var(--black)
}
.book:hover {
  background-color: var(--browner);
}
.book:active {
  background-color: var(--dark-brown);
}
.more-info:hover {
  background-color: var(--bluer) ;
}
.more-info:active {
  background-color: var(--deep-blue) ;
}
.hotels h3 {
  font-size: 21px;
}
.hotels h3:hover {
  cursor: pointer;
  color: var(--blue);
}
.hotels h3:active {
  cursor: pointer;
  color: var(--black);
  opacity: 0.3;
}
.facebook,
.twitter,
.youtube {
  width: 46px;
  height: 48px;
  background-color: var(--blue);
  margin: 6px;
}
.facebook img {
  padding: 13px 17px 13px 17px;
}
.twitter img {
  padding:  16px 14px 15px 15px;
}
.youtube img {
  padding: 16px 13px 16px 13px;
}
