
:root {
  --gray:  #888888;
  --active: #BDBBBC;
  --circle: #ABABAB;
  --dark-gray: #666666;
  --minus: #A9A9A9;
  --blue: #81B3D2;
  --bluer: #669EC0;;
  --deep-blue: #5496BD;
  --black:  #000000;
  --light-black: #333333;
  --brown: #766357;
  --light-gray: #EEEEEE;
  --white: #FFFFFF;
  --browner: #604E43;
  --dark-brown:#503E33;
  --rating: #F2F2F2;
  --border-color: #E5E5E5;
}
body {
  min-width: 960px;
  margin: 0 auto;
  padding: 0;
  background: var(--white);
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  background-position: top center;
}
ul {
  padding: 0;
  margin: 0;
}
li {
   list-style-type: none;
 }
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
h2 {
  font-size: 21px;
  line-height: 26px;
}
p {
  font-weight: 400;
  color: var(--light-black);
  line-height: 21px;
}
button {
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
}
.page {
  height: 100%;
}
.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  background-color: var(--rating);
}
.main-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  height: 56px;
  background-color: var(--white);
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}
.main-header-logo {
  position: absolute;
  left: 50%;
  top:0;
  transform: translateX(-50%);
  width: 138px;
  height: 70px;
  justify-content: center;
  z-index: 1;
}
.menu-list li:nth-child(1),
.menu-list li:nth-child(2) {
  text-align: left;
}
.menu-list li:nth-child(3),
.menu-list li:nth-child(4) {
  text-align: right;
}
.menu-list li:nth-child(3) {
  margin-left: 153px;
}
.menu-list li {
  display: inline-block;
  width: 223px;
}
.main-header {
  margin-bottom: 70px;
  height: 56px;
}
.main-nav-wrapper {
  display: grid;
  grid-template-columns: 1fr min-content;
  width: 1200px;
  height: 70px;
  margin: 0 auto;
  padding: 0 10px;
}
.wrapper {
  display: grid;
  grid-template-rows: 1fr min-content;
  width: 1200px;
  margin: 0 auto;
  justify-content: center;
  background-color: var(--white);
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}
.main-nav a {
  color: var(--black);
  text-decoration: none;
  line-height: 26px;
  font-size: 14px;
  text-align: center;
}
.main-nav ul {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  justify-content: space-around;
  align-items: center;
  padding: 0 72px;
}
.main-nav a:link {
  color: var(--black);;
}
a.current {
  color: var(--brown);
}
.main-nav a:hover {
  color: var(--blue);
}
.main-nav a:active {
  color: var(--black);
  opacity: 0.3;
}
.features {
  text-align: center;
}
.feature-item-2 {
  text-align: center;
  position: relative;
}
.logo-img {
  position: relative;
  background-image:url("../img/background-photo.jpg");
  background-repeat: no-repeat;
  width: 1200px;
  height: 509px;
  text-align: center;
}
.logo-img::after {
  position: absolute;
  background-image: url("../img/mask.png");
  bottom: 0;
  content: "";
  width: 1200px;
  height: 57px;
  display: block;
}
.logo {
  margin: 75px 370px;
}
.features .header {
  margin-top:43px;
  margin-bottom: 30px;
  display: inline-block;
  width: 470px;
}
.features .main-text {
  margin-bottom: 53px;
}
.feature-item-2 h3,
.feature-item h3{
  font-size: 21px;
  line-height: 21px;
  margin-top: 0;
  display: inline-block;
  width: 151px;
}
.advantage-list p:nth-child(2) {
  margin-top: 8px;
}
.advantage-list p:last-child {
  margin-top: 23px;
}
.item-img {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: start;
  grid-column-gap: 0;
}
.img-item {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 0;
}
.features-list-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 68px;
  padding: 0;
}
.features-list-2 p {
  display: inline-block;
  width: 298px;
  margin-top: 4px;
}
.feature-item-2 h3 {
  margin-top: 160px
}
.gift::before {
  position: absolute;
  content: "";
  background-image: url("../img/icon-gift.svg");
  width: 64px;
  height: 77px;
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 55px;
  left: 50%;
  transform: translateX(-50%);
}
.burger::before {
  position: absolute;
  content: "";
  background-image: url("../img/icon-burger.svg");
  width: 75px;
  height: 70px;
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 61px;
  left: 50%;
  transform: translateX(-50%);
}
.home::before {
  position: absolute;
  content: "";
  background-image: url("../img/icon-home.svg");
  width: 75px;
  height: 72px;
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
}
.list-item {
  background-color: var(--blue);
  color: var(--white);
  width: 400px;
  height: 256px;
  text-align: center;
}
.list-item p {
  color: inherit;
}
.list-item h3 {
  margin-top: 50px;
}
.list-item p:nth-child(2) {
  margin-top: 6px;
}
.list-item p:last-child {
  margin-top: 24px;
  width: 301px;
  margin-left: 50px;
}
.footer-contacts {
  display: block;
  height: 70px;
}
.footer-p {
  font-weight: bold;
  color: var(--black);
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  margin: 0;
}
.hashtag {
  padding-bottom: 9px;
}
.footer-phone {
  color: inherit;
}
.footer-copyright p {
  margin-right: 8px;
}
.advantage-list {
  background-color: var(--light-gray);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 40px;
  padding-top: 47px;
}
.appointment h3 {
  font-size: 30px;
  line-height: 24px;
}
.appointment {
  text-align: center;
  margin-bottom: -128px;
  margin-top: 28px;
}
.appointment-info {
  margin-top: 32px;
  line-height: 24px;
}
.dropdown {
  position: relative;
  display: inline-block;
  margin-top: 28px;
}
.booking-menu {
  display: block;
  position: absolute;
  width: 568px;
  height: 395px;
  background-color: var(--white);
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}
.close-menu {
  display: none;
}
.booking-menu input {
  border: none;
  height: 38px;
  background-color:var(--rating) ;
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  box-sizing: border-box;
  outline: none;
}
.menu-fields {
  margin: 55px 55px 54px 55px;
}
.check-date input {
  width: 346px;
  color: var(--black);
  text-transform: uppercase;
  padding-left: 12px;
}
.check-date button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
.calendar:hover path,
.plus:hover path,
.minus:hover rect {
  fill: var(--black);
}
.calendar:active path,
.plus:active path,
.minus:active rect {
  fill: var(--blue);
}
.check-date {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.check-date:first-child {
  margin-bottom: 30px;
}
.counter-input {
  display: flex;
  text-align: center;
  width: 114px;
  height: 38px;
  padding: 0;
  background-color:var(--rating);
}
.adults-amount {
  margin-left: 40px;
}

.btn-minus {
  padding-left: 12px;
}
.btn-plus {
  padding-left: 10px;
}
.counter label {
  padding-top: 5px;
}
.counter-input input {
  width: 45px;
  text-align: center;
  margin-left: 9px;
  padding-bottom: 3px;
}
.children-amount {
  margin-left: 27px;
}
.tourists-amount {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.counter {
  display: flex;
}
.plus {
  padding-top: 4px;
  padding-right: 3px;
}
.minus {
  width: 12px;
  height: 3px;
  padding-bottom: 3px;
  padding-left: 2px;
}
::-webkit-input-placeholder { /* WebKit browsers */
  color: var(--black);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: var(--black);
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: var(--black);
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: var(--black);
}
.find-button {
  background-color: var(--blue);
  width: 458px;
  height: 58px;
  font-size: 21px;
  line-height: 26px;
  color: var(--white);
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  box-sizing: border-box;
}
.find-button:hover {
  background-color: var(--bluer);
  color: var(--white);
}
.find-button:active {
  background-color: var(--deep-blue);
  color: rgba(255,255,255, 0.3);
}
.hotel-search-button {
  background-color: var(--brown);
  color: var(--white);
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  width: 568px;
  height: 86px;
  outline: none;
  text-transform: uppercase;
  box-sizing: border-box;
  border: none;
  padding: 0;
}
.hotel-search-button:hover {
  background-color: var(--browner);
  color: var(--white);
}
.hotel-search-button:active {
  background-color: var(--dark-brown);
  color: rgba(255,255,255, 0.3);
}
.main-footer {
  display: flex;
  margin: 0 auto;
  width: 1200px;
  z-index: 1;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 1200px;
  height: 120px;
  background: rgba(255, 255, 255, 0.9);
  padding: 0 33px;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}
.social-networks {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-right: 5px;
}
.footer-copyright {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-right: 15px;
}
.button:hover path {
  fill: var(--blue);
}
.button:active path {
  fill: var(--active);
}
/* inner page */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.filters {
  display: grid;
  grid-template-columns: 300px 300px 600px;
  background-image:url("../img/background-inner-page.jpg") ;
  width: 1200px;
  height: 217px;
}
.filter-items li {
  margin-bottom: 20px;
}
.filter-items .filter-checkbox3 {
  margin-bottom: 0;
}
.filter {
  display: flex;
  justify-content: space-between;
  width: 461px;
  padding-top: 25px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
}
.filter fieldset {
  padding: 0;
  margin: 0;
  justify-content: space-around;
  border: none;
}
.hotel .image {
  padding: 30px 29px 30px 73px;
  width: 135px;
  height: 90px;
}
.hotel {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid var(--border-color);
}
.hotel h3 {
  margin-top: 26px;
}
.price-tag {
  display: flex;
  margin-top: -27px;
}
.motel p {
  margin-right: 65px;
}
.hostel p {
  margin-right: 40px;
}
.aparts p {
  margin-right: 22px;
}
.hotels:last-child  {
  border-bottom: 1px solid var(--border-color);
}
.range {
  display: flex;
  width: 317px;
  height: 36px;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
}
.border {
  border: 1px solid white;
  height: 22px;
  width: 2px;
  background: white;
  margin-top: 5px;
  box-sizing: border-box;
}
.range #from {
  width: 159px;
  box-sizing: border-box;
  height: 36px;
  border: none;
}
.range #to {
  width: 156px;
  box-sizing: border-box;
  height: 36px;
  border: none;
}
.range input::-webkit-input-placeholder {
  text-align:center;
}
.range input:-moz-placeholder { /* Firefox 18- */
  text-align:center;
}
.range input::-moz-placeholder {  /* Firefox 19+ */
  text-align:center;
}
.range input:-ms-input-placeholder {
  text-align:center;
}
.range button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.range input {
  text-transform: uppercase;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  background: transparent;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  color: var(--white);
  outline: none;
  text-align: center;
  padding-bottom: 8px;
}
.range input::-moz-placeholder {
  color: var(--white);
}
.range input::-webkit-input-placeholder {
  color: var(--white);
}
.range-filter {
  width: 317px;
  margin-top: 20px;
}
.range-controls {
  position: relative;
  width: 316px;
  margin-top:20px;
}
.range-controls .toggle {
  position: absolute;
  left: 0;
  top: -9px;
  width: 3px;
  height: 3px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--dark-gray);
  cursor: pointer;
  outline: none;
}
.toggle:hover {
  transform: scale(1.2);
}
.range-controls .toggle-min {
  left: 0;
}

.range-controls .toggle-max {
  left: 254px;
}
 .range-controls .scale {
   width: 316px;
   height: 2px;
   background: var(--gray);
 }
 .range-controls .bar {
  width: 83%;
  height: 2px;
  background: var(--white);
  opacity: 1;
}
.infrastructure {
  margin-left: 70px;
}
.cost-filter {
  position: relative;
  display: grid;
  width: 317px;
  margin-left: 508px;
}
.show {
  width: 137px;
  height: 36px;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: transparent;
  margin-left: 85px;
  margin-top: 33px;
}
.filter-header {
  color: var(--white);
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 24px;
  margin-left: 70px;
}
.filter-items {
  color: var(--white);
  font-weight: 400;
  margin-bottom: 24px;
  margin-left: 112px;
}
.filter-item {
  margin-top: 25px;
  border: none;
  padding: 0;
}
.filter-item .filter-header {
  margin-bottom: 12px;
  margin-left: 0;
  padding: 0;
}
.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}
.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 1px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
}
.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 1px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
}
.filter-input-checkbox:checked:disabled + label::after {
  content: "";
  position: absolute;
  top: 1px;
  left: -38px;
  width: 22px;
  height: 17px;
  background-image: url("../img/checkbox-on-disabled.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input-checkbox:checked:disabled + label::after {
  content: "";
  position: absolute;
  top: 1px;
  left: -38px;
  width: 22px;
  height: 17px;
  background-image: url("../img/checkbox-off-disabled.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.sorting-filter {
  display: flex;
  align-items: center;
  margin-left: 73px;
}

.sort {
  margin: 31px 40px 32px 46px;
}

.sorting-links li:first-child {
  margin-right: 32px;
}
.sorting-links li:nth-child(2) {
  margin-right: 33px;
}
.found {
  font-size: 21px;
}
.sort {
  font-size: 12px;
  font-weight: normal;
}

.sorting-links {
  display: flex;
  font-weight: 400;
  font-size: 12px;
}
.current-link {
  border-bottom: none;
  color: var(--blue);
}
.current {
  color: var(--brown);

}
.sorting-links a {
  border-bottom: 1px dotted var(--blue);
  color: rgba(0, 0, 0, 0.5);
}
.sorting-links a:hover {
  color:var(--blue);
}
.sorting-links a:active {
  color:var(--black);
  border-bottom: none;
}
.button {
  color: var(--white);
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}
.more-info {
  background-color: var(--blue);
  width: 110px;
  height: 27px;
  padding: 4px 14px 5px 17px;
  margin-right: 6px;
  font-weight: bold;
}
.book {
  background-color: var(--brown);
  width: 142px;
  height: 27px;
  padding: 4px 16px 5px 16px;
  font-weight: bold;
}

 .show:hover {
  background-color: var(--white);
  color:var(--black)
}
.book:hover {
  background-color: var(--browner);
}
.book:active {
  background-color: var(--dark-brown);
  color: rgba(255,255,255, 0.3);
}
.more-info:hover {
  background-color: var(--bluer) ;
}
.more-info:active {
  background-color: var(--deep-blue) ;
  color: rgba(255,255,255, 0.3);
}

.hotels h3 {
  font-size: 21px;
}
.hotels h3:hover {
  cursor: pointer;
  color: var(--blue);
}
.hotels h3:active {
  cursor: pointer;
  color: var(--black);
  opacity: 0.3;
}
.facebook,
.twitter,
.youtube {
  width: 46px;
  height: 48px;
  background-color: var(--blue);
  margin: 3px;
}
.facebook:hover,
.twitter:hover,
.youtube:hover {
  background-color: var(--bluer);
}
.facebook:active,
.twitter:active,
.youtube:active {
  background-color: var(--deep-blue);
}
.facebook img:active,
.twitter img:active,
.youtube img:active {
  opacity: 0.3;
}

.facebook img {
  padding: 13px 17px 13px 17px;
}
.twitter img {
  padding:  16px 14px 15px 15px;
}
.youtube img {
  padding: 16px 13px 16px 13px;
}
.up-down-buttons  {
  margin-left: auto;
  margin-right: 73px;
}
.up-down-list {
  display: flex;
}
.up {
  margin-right: 12px;
}
.up:hover path,
.down:hover path {
  fill: var(--black)
}
.up:active path,
.down:active path {
  fill: var(--blue);
}
.rating-box {
  display: flex;
  flex-wrap: wrap-reverse;
  margin-left: auto;
  justify-self: flex-end;
  width: 110px;
  margin-right: 73px;
}
.stars {
  display: flex;
  margin-left: auto;
  margin-top: 31px;
  margin-right: -5px;
}
.star {
  width: 19px;
  height: 17px;
  margin-right: 4px;
}
.rating {
  width: 110px;
  height: 27px;
  background-color: var(--rating);
  color: var(--dark-gray);
  text-align: center;
  margin-bottom: 25px;
  padding-top: 2px;
}
